<%- include ('../partials/header') %>

<%- include ('../partials/popUp') %>

<section class="shop-section">
    <div class="shop-images" >
        <% if(error){ %>
            <div class="shop-link" style="text-align:center;height:300px;">
                <h1>An error occured in showing results, please try again later.</h3>
            </div>

        <% } else {%>
        <% for(var i = 0; i < output.length; i++){ %>
            <form id="formID" method="POST" action="/addcart">
            <div class="shop-link">
                
               

                    
                    <input name="title" value="<%= output[i].title %>" class="invisible">
                    <h3 class="ellipsis" id='ti_<%= i%>'>Purchase <%= output[i].title %></h3>
                    <input name="image" value="<%= output[i].image %>" class="invisible">
                    <img src="<%= output[i].image%>" >
                    <div style="display: flex; justify-content: space-evenly; padding-bottom: 1em;">
                        <input name="price" value="<%= output[i].price %>" class="invisible">
                        <!--<input type="submit" value="Buy now">-->
                       
                        <div id="container">
                            <div  id='popUp' class="invisible">
                        
                                <h4><%= output[i].title %></h4>
                                
                            </div>
                        </div>
                            <p>$<%= output[i].price %></p>
                            <select name="amount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        
                        
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                        <input type="button" value="Buy now" href="/cart" >
                     
                        <input type="submit" value="Add to cart" onclick="addCart('add')">
                        
                            
                            
                    </div>
                </form>
            </div>
            

        <% } %>

    <% } %>
    </div>
</section>


<%- include ('../partials/footer') %>
