<%- include ('../partials/header') %>

    <!-- start body -->

    <style>
        /* CSS Internal Styles */
        form {
            text-align: left;
            padding: 10px;

            ::placeholder {
                font: 1em sans-serif;
            }
        }

        button {
            background-color: white;
            color: black;
            border: 2px solid #5b9b9b;
            border-radius: 7px;
            font-size: small;
            padding: 5px 10px;
            transition-duration: 0.4s;
        }

        button:hover {
            background-color: #5b9b9b;
            color: white;
        }

        p {
            font-size: small;
        }

        label {
            font-size: small;
        }
    </style>

    <div class="container" style="padding: 10px; padding-top: 20px;">
        <div style="font-size: small; text-align: justify; padding-left: 20px;">
            <h2>You have These items in your cart:</h2><br>
            <% for(let i=0; i < amounts.length; i++){%>
                <%= names[i]%>
                    <%= amounts[i]%> @
                        $<%= prices[i]%>
                            <% } %>
        </div>
    </div>

    <div class="container" style="padding: 20px;"> <!-- Form -->
        <form>
            <h5>Fill out the information below for EZcheckout:</h5>
            <div class="col" style="padding: 10px;"> <!-- First & Last name-->
                <input type="text" id="fname" name="fname" placeholder="First name">
                <input type="text" id="lname" name="lname" placeholder="Last Name">
            </div>
            <div class="col" style="padding: 10px;"> <!-- Email address & Phone number-->
                <input type="text" id="eAddress" name="eAddress" placeholder="Email Address">
                <input type="text" id="pNumber" name="pNumber" placeholder="Phone Number">
            </div>
            <div class="col" style="padding: 10px;"> <!-- Address-->
                <input type="text" id="sAddress" name="sAddress" placeholder="Street Address">
                <input type="text" id="Apt" name="Apt" placeholder="Apt, Suite, Unit (Optional)">
                <label for="states">State</label>
                <select name="states" id="states">
                    <option value="Colorado">CO</option>
                    <option value="Texas">TX</option>
                    <option value="California">CA</option>
                </select>
            </div>
            <div class="col" style="padding: 10px;"> <!-- Payment-->
                <input type="text" id="cNumber" name="cNumber" placeholder="Credit/Debit Card Number">
                <input type="text" id="expiration" name="expiration" placeholder="Expiration MM/YY">
                <input type="text" id="cvvNumber" name="cvvNumber" placeholder="CVV Number">
            </div>
            <div class="col" style="padding: 10px;"> <!-- Billing address question & Text updates question-->
                <p>Is your billing address the same as your shipping address?</p>
                <input type="radio" id="yes" name="bAddressQ" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="bAddressQ" value="No">
                <label for="no">No</label><br>

                <p>Do you want to recieve text updates about your order?</p>
                <input type="radio" id="yes" name="tAddressQ" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="tAddressQ" value="No">
                <label for="no">No</label><br>
            </div>
        </form>

        <div class="col" style="padding: 10px;">
            <button type="button" class="button">Place Order</button> <!-- Place order button-->
        </div>
    </div>

    <!-- end body -->

    <%- include ('../partials/footer') %>