<%- include ('../partials/header') %>

<!-- start body -->

<div style="display: flex; justify-content: space-around;">

    

        <div style="padding-top: 2em; flex: display; flex-direction: column;">
        <!--show each product in cart-->
        <!--add images to db..... ughhhh-->
        <% for(let i = 0; i < amounts.length; i++){%>
            <div style="display: flex; border: solid;">
            <%= names[i]%>
            <%= amounts[i]%>
            $<%= prices[i]%>
            
            </div>

        
        <% } %>
        </div>


    
    <div class="container" style="padding: 20px;">
        <div class="row" style="padding: 10px;"> <!-- First & Last -->
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    <label for="floatingInput">First Name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    <label for="floatingInput">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;"> <!-- Email & Phone Number -->
            <div class="col">
                <div class="form-floating">
                    <input type="email" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">Email Address</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
                    <label for="floatingInput">Phone Number</label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;"> <!-- Address -->
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Street Address" aria-label="Street Address">
                    <label for="floatingInput">Street Address</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Apt, Suite, Unit, Building (Optional)"
                        aria-label="Apt, Suite, Unit, Building (Optional)">
                    <label for="floatingInput">Apt, Suite, Unit, Building (Optional)</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="City" aria-label="City">
                    <label for="floatingInput">City</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>-</option>
                        <option value="1">CO</option>
                        <option value="2">AZ</option>
                        <option value="3">TX</option>
                    </select>
                    <label for="floatingSelect">State</label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;"> <!-- Credit Card Info -->
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Credit/Debit Card Number"
                        aria-label="Credit/Debit Card Number">
                    <label for="floatingInput">Credit/Debit Card Number</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Expiration MM/YY"
                        aria-label="Expiration MM/YY">
                    <label for="floatingInput">Expiration MM/YY</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="CVV Number" aria-label="CVV Number">
                    <label for="floatingInput">CVV Number</label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px;"> <!-- billing address question-->
            <div class="col">
                <h5>Is your billing address the same as your shipping address?</h5>
            </div>
            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1"
                        checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px;"> <!-- text question-->
            <div class="col">
                <h5>Do you want to recieve text updates about your order?</h5>
            </div>
            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3"
                        checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                        Yes
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div class="containter" style="padding: 20px;">
            <div style="text-align: right;">
                <a class="btn btn-info" role="button">Place Order</a>
            </div>
        </div>


    </div>

</div>
<!-- end body -->

<%- include ('../partials/footer') %>