<%- include ('../partials/header') %>

<main>
    <body>

        <!--<div id="container">
            <div  id="popUp" class="invisible">
                <h4> baba</h4>
                
            </div>
        </div>-->
      
        <%- include ('../partials/popUp') %>

        <section class="shop-section">
            <div class="shop-images">
                <div class="shop-link">
                    <h3>Shop <%=first%></h3>
                    <img src="https://5.imimg.com/data5/SELLER/Default/2021/6/IM/OB/VX/7285296/portable-laptop-table.jpg" alt="card">
                    <a href="/electronics" id="product_link">Shop now</a>
                      

                </div>
                <div class="shop-link">
                    <h3>Shop <%=second%></h3>
                    <img src="https://1.bp.blogspot.com/-3O7enn9Z_0g/Xh7aRnzKHVI/AAAAAAAAAE0/Y3FQijC1zyIhFPCvmerNu-G165C2YKWvACNcBGAsYHQ/s1600/71N1d2njruL._SL1500_.jpg" alt="card">
                    <a href="/jewelery">Shop now</a>
                </div>
                <div class="shop-link">
                    <h3>Shop <%=third%></h3>
                    <img src="https://cdn.shopify.com/s/files/1/1493/9182/products/Warm_white_LED_tape_7ba08ca1-30dc-4968-b3c4-1c4e44244659_1024x1024.jpg?v=1543488158" alt="card">
                    <a href="/mens">Shop now</a>
                </div>
                <div class="shop-link">
                    <h3>Shop <%=fourth%></h3>
                    <img src="https://www.mydomaine.com/thmb/GQvCChTeRe93o59LQpRJA92Gu40=/5524x3683/filters:no_upscale():max_bytes(150000):strip_icc()/DesignbyEmilyHendersonDesignPhotographerbySaraTramp_181-ba033340b54147399980cfeaed3673ee.jpg" alt="card">
                    <a href="/womens">Shop now</a>
                </div>  
              </div>
            </div>
          </section>

 
        
     
 
<%- include ('../partials/footer') %>
