<%- include ('../partials/header') %>

<main>
    <body>

        <!--<div id="container">
            <div  id="popUp" class="invisible">
                <h4> baba</h4>
                
            </div>
        </div>-->
      
        <%- include ('../partials/popUp') %>

        <section class="shop-section">
            <div class="shop-images">
                <div class="shop-link">
                    <h3>Shop <%=first%></h3>
                    <img src="https://5.imimg.com/data5/SELLER/Default/2021/6/IM/OB/VX/7285296/portable-laptop-table.jpg" alt="card">
                    <a href="/electronics" id="product_link">Shop now</a>
                      
                </div>
                <div class="shop-link">
                    <h3>Shop <%=second%></h3>
                    <img src="https://www.freeiconspng.com/uploads/silver-jewellery-png-2.png" alt="card">
                    <a href="/jewelery">Shop now</a>
                </div>
                <div class="shop-link">
                    <h3>Shop <%=third%></h3>
                    <img src="https://m.media-amazon.com/images/I/815ANqIQHRL._AC_UL1500_.jpg" alt="card">
                    <a href="/mens">Shop now</a>
                </div>
                <div class="shop-link">
                    <h3>Shop <%=fourth%></h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51r5qrhBRIL._AC_UL1024_.jpg" alt="card">
                    <a href="/womens">Shop now</a>
                </div>  
              </div>
            </div>
          </section>

 
        
     
 
<%- include ('../partials/footer') %>
